/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* tagsinput for keywords_user */
.bootstrap-tagsinput input[type='text'] {
    width: 570px;
}
.badge {
    margin: 2px 5px;
}

@media (min-width: 1700px) {
    .container {
        max-width: 1600px;
    }
}

.w-60 {
    width: 60%;
}

@media (max-width: 576px) {
    .w-60 {
        width: 100%;
    }

    div.col-12 .ml-3 {
        margin-left: 0 !important;
    }
}